{% extends 'base.html.twig' %}

{% block bodyclass %}fullscreen-bg{% endblock %}

{% block title %}{{ 'login_title'|trans([],'security') }}{% endblock %}

{% block body %}
  <div class="container h-100 d-flex flex-column justify-content-center align-items-center text-center">
    <a href="{{ path('homepage') }}" class="d-inline-block mb-4">
      <img src="{{ asset('build/images/nestor-icon.svg') }}" width="80" height="80" class="img-fluid" alt="Nestor logo">
    </a>

    <div class="card text-white bg-dark">
      <h1 class="h3 card-header text-center">{{ 'login_title'|trans([],'security') }} :</h1>

      <div class="card-body">
        <form method="post">
          {% if error %}
            <div class="d-none form-control is-invalid"></div>
            <div class="invalid-feedback mb-2">
              <span class="d-block text-left">
                  <span class="form-error-icon badge badge-danger text-uppercase">{{ 'Error'|trans({}, 'validators') }}</span> <span class="form-error-message">{{ error.messageKey|trans(error.messageData, 'security') }}</span>
              </span>
            </div>
          {% endif %}

          <div class="form-group">
            <label for="inputEmail" class="sr-only">{{ 'email_label'|trans([],'security') }}</label>
            <input type="email" id="inputEmail" name="email" value="{{ last_username }}" class="form-control" placeholder="{{ 'email_label'|trans([],'security') }}" autofocus>
          </div>

          <div class="form-group">
            <label for="inputPassword" class="sr-only">{{ 'password_label'|trans([],'security') }}</label>
            <input type="password" id="inputPassword" name="password" class="form-control" placeholder="{{ 'password_label'|trans([],'security') }}">
          </div>

          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input type="checkbox" id="remember_me" name="_remember_me" class="custom-control-input">
              <label class="custom-control-label" for="remember_me">{{ 'remember_me_label'|trans([],'security') }}</label>
            </div>
          </div>

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

          <button type="submit" name="login_submit" class="btn btn-block btn-outline-nestor">
            {{ 'login_link'|trans({},'security') }} <i class="fas fa-sign-in-alt"></i>
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
