{% extends 'globals/confirm_modal.html.twig' %}

{% block modal_id %}
  {{- modal_id -}}
{% endblock %}

{% block modal_action %}
  delete section {{ section.name }}
{% endblock %}

{% block modal_confirm %}
  <form id="section_{{ section.id }}_form" method="post" action="{{ path('app_section_delete', {'id': section.id}) }}" class="d-inline-block">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ section.id) }}">
    <button id="section_{{ section.id }}_submit" type="submit" form="section_{{ section.id }}_form" class="btn btn-sm btn-danger">Delete</button>
  </form>
{% endblock %}
