{% extends 'app/layout.html.twig' %}

{% block title %}{{ 'section_list_title'|trans }}{% endblock %}

{% block main %}
  <div class="container pt-5">
    <h1 class="display-4 $sectionList">{{ 'section_list_title'|trans }}</h1>

    <table class="table table-sm">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th>
            {{ 'section_name'|trans }}<br>
            <small class="text-muted">{{ 'section_description'|trans }}</small>
          </th>
        </tr>
      </thead>
      <tbody>
        {% for section in section_list %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>
              {{ section.name }}<br>
              <small class="text-muted">{{ section.description }}</small>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
